= form_for @guess, :url => { :controller => 'guesses', :action => 'create' }, :html => { :class => @hide.nil? ? 'new_guess' : @hide } do |f|
  = render 'error_messages', :object => f.object
  %p
    = f.label :character
    = f.text_field :character, :maxlength => 1
  %p
    = f.label :email
    = f.text_field :email, :maxlength => 30
  %p.submit
    %label submit 
    = f.submit 'Submit'
