%table
  %thead
    %tr
      %th id
      %th character
      %th email
      %th created_at
      %th updated_at
  %tbody
    - @guesses.each do |g|
      %tr
        %td= g.id
        %td= g.character
        %td= g.email
        %td= g.created_at
        %td= g.updated_at
